<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Spot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-bar w3-border w3-round w3-light-grey">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/sell" class="w3-bar-item w3-button">Sell</a>
      </div>
      <h1>{{ post.username }}</h1>
      <hr>
      <h3>{{ post.productname }}</h3><br>
      <p></p>
      <p>Description:- </p>
      <p>{{ post.content }}</p><br>
      <hr>
      Price: {{ post.price }}<br>
      <h4>Contact owner at</h4><br>
      Mail:- {{ post.mail }}<br>
      Number:- {{ post.number }}

</body>
</html>