<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Spot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .s-form{
            border-style: solid;
            border-width: 0.5px;
            border-radius: 5px;
            padding: 10px;
            border-color: gray;
            margin-left: 250px;
            margin-right: 250px;
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/h">SellSpot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/sell">Sell <span class="sr-only">(current)</span></a>
            </li>
          </ul>
      </nav>
      <!-- navbar-ends -->
    <div class="s-form">
    <form name="addForm" autocomplete="off" id="addForm" method="POST" action="{{ url_for('addpost') }}">
        <label for="uname">Your Name</label><br>
        <input type="text" name="uname" required value="{{ name }}" readonly><br>
        <p></p>
        <label for="pname">Product Name</label><br>
        <input type="text" name="pname" required><br>
        <p></p>
        <label for="pr">Price (Please Provide Currency Also)</label><br>
        <input type="text" required name="pr"><br>
        <p></p>
        <label for="cat">Type</label><br>
        <select name="cat" required>
            <option>Not Provided</option>
            <option>Electronics</option>
            <option>Vehicle</option>
            <option>Hardware</option>
            <option>Furniture</option>
            <option>Tools</option>
        </select><br>
        <p></p>
        <label for="p-des">Description</label><br>
        <textarea name="p-des" required cols="50" rows="7"></textarea><br>
        <p></p>
        <label for="u-mail">Your Email</label><br>
        <input type="email" required name="u-mail"><br>
        <p></p>
        <label for="u-num">Your Phone Number</label><br>
        <input type="number" required name="u-num"><br>
        <p></p>
        <input type="submit">
    </form>
    </div>
</body>
</html>